@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 166, 246, 255;
  --background-end-rgb: 233, 196, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 13, 4, 74;
    --background-end-rgb: 0, 0, 0;
    --color: whitesmoke;
  }
  .highlight:hover {
    border: 2px solid whitesmoke;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


.highlight:hover {
  transition: all 0.2s ease-out;
  border: 2px solid #00000073;
}