@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 166, 246, 255;
  --background-end-rgb: 233, 196, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 13, 4, 74;
    --background-end-rgb: 0, 0, 0;
    --color: whitesmoke;
  }

  .highlight:hover {
    border: 2px solid whitesmoke;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}


.highlight:hover {
  transition: all 1s ease-out;
  border: 2px solid #00000073;
  box-shadow: 0 0 10px #00000073 #00000073;
}

.description {
  overflow: hidden;
  max-height: 89px;
  transition: max-height 15s ease-out;
  text-overflow: ellipsis;
}

.description:hover {
  overflow: visible;
  white-space: normal;
  max-height: 1000px;
  transition: max-height 5s ease-out;
}

.flare {
  position: fixed;
  mix-blend-mode: screen;
  pointer-events: none;
  z-index: 10000 !important;
  transform: translate(-50%, -50%);
  transition: width .2s ease-in-out, height .2s ease-in-out, ;
  animation: left 1s ease-in-out, top 1s ease-in;
}
@media only screen and (max-device-width: 480px) {
  .flare {
    display: none;
  }
}

.flare.pointer {
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out, opacity 0.2s ease-in-out;
}